.myAnno {
  &--container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &--export {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
  }

  &--card {
    width: 100%;
    margin-left: 50px;
    margin-top: 25px;
  }

  &--title {
    display: flex;
    align-items: center;
  }

  &--content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &--info {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: space-around;
    align-items: center;
  }

  &--image {
    width: 250px;
    height: auto;
    padding-bottom: 15px;
  }

  &--details {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
  }

}
