.anno-header {
  width: 100%;
  height: 50px;
  display: flex;
  button {
    width: 50%;
    border: none;
    box-shadow: 5px 5px 5px #aaaaaa;
    background-color: #0E5A8A;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 22px;
    &.active {
      font-size: 24px;
      background-color: #48AFF0;
    }
  }
  button:hover {
    box-shadow: 7px 7px 3px #515151;
  }
}
